/* @font-face {
    src: url(/Fonts/Lato/Lato-Black.ttf);
    font-family: Lato;
}

@font-face {
    src: url(/Fonts/Lato/Lato-BlackItalic.ttf);
    font-family: Lato;
}

@font-face {
    src: url(/Fonts/Lato/Lato-Bold.ttf);
    font-family: Lato;
}

@font-face {
    src: url(/Fonts/Lato/Lato-BoldItalic.ttf);
    font-family: Lato;
}

@font-face {
    src: url(/Fonts/Lato/Lato-Italic.ttf);
    font-family: Lato;
}

@font-face {
    src: url(/Fonts/Lato/Lato-Light.ttf);
    font-family: Lato;
}

@font-face {
    src: url(/Fonts/Lato/Lato-LightItalic.ttf);
    font-family: Lato;
}

@font-face {
    src: url(/Fonts/Lato/Lato-Regular.ttf);
    font-family: Lato;
}

@font-face {
    src: url(/Fonts/Lato/Lato-Thin.ttf);
    font-family: Lato;
}

@font-face {
    src: url(/Fonts/Lato/Lato-ThinItalic.ttf);
    font-family: Lato;
} */